<html>
    <head>
        <title>plexweb</title>
        <link rel="stylesheet" href="/plex/css/style.css" type="text/css">
        <script src="/plex/js/shortcut.js" type="text/javascript"></script>
        <script type="text/javascript">
            function callUrl(url)
            {
                var xmlHttp = null;
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", url, false );
                xmlHttp.send( null );
            }
            function changeVolume(vol)
            {
                var url = "http://$config.server:$config.port/system/players/$config.player/application/setVolume?level=";
                callUrl(url.concat(vol));
            }
            function playback(command)
            {
                var url = "http://$config.server:$config.port/system/players/$config.player/playback/";
                callUrl(url.concat(command));
            }
            function playMedia(key)
            {
                var url = "http://$config.server:$config.port/system/players/$config.player/application/playMedia?key=" + key + "&path=http://$config.server:$config.port" + key;
                callUrl(url);
            }
            function init() {
                String.prototype.endswith = function(suffix) {
                    return this.indexOf(suffix, this.length - suffix.length) !== -1;
                };
                String.prototype.rsplit = function(sep, maxsplit) {
                    var split = this.split(sep);
                    return maxsplit ? [ split.slice(0, -maxsplit).join(sep) ].concat(split.slice(-maxsplit)) : split;
                }
                shortcut.add("space",function() {
                    playback('play');
                });
                shortcut.add("x",function() {
                    playback('stop');
                });
                shortcut.add("right",function() {
                    playback('stepForward');
                });
                shortcut.add("left",function() {
                    playback('stepBack');
                });
                shortcut.add("Alt+right",function() {
                    playback('bigStepForward');
                });
                shortcut.add("Alt+left",function() {
                    playback('bigStepBack');
                });
                shortcut.add("l",function() {
                    window.location.href = "$config.webroot/library";
                });
                shortcut.add("h",function() {
                    window.location.href = "$config.webroot/home";
                });
                shortcut.add("up",function() {
                    document.getElementById("volume").value++;
                    changeVolume(document.getElementById("volume").value);
                });
                shortcut.add("down",function() {
                    document.getElementById("volume").value--;
                    changeVolume(document.getElementById("volume").value);
                });
                shortcut.add("u",function() {
                    if (window.location.search.substring(0, 13) === "?key=/library")
                    {
                        if (window.location.href.endswith("?unwatched=1"))
                        {
                            var unwatched = window.location.href.rsplit("?",1)[0];
                        }
                        else
                        {
                            var unwatched = window.location.href + "?unwatched=1";
                        }
                        window.location.href = unwatched;
                    }
                });
            }
            window.onload=init;
        </script>
    </head>
    <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
        <center>
            <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable">
                <tr>
                    <td align="center" valign="center">
                        <br />
                        <table border="0" cellpadding="0" cellspacing="0" width="360" id="templateContainer">
                            <tr>
                                <td align="center" valign="top">
                                    <!-- // Begin Template Body \\ -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="360" id="templateBody">
                                        <tr>
                                            <td valign="top" class="bodyContent">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                    <tr>
                                                        <td valign="top">
                                                            <div mc:edit="std_content00">
                                                                <div id=controls>
                                                                    <a href="javascript:void(0)" onclick="playback('stepBack'); return">&lt&lt</a>
                                                                    <a href="javascript:void(0)" onclick="playback('play');">play/pause</a>
                                                                    <a href="javascript:void(0)" onclick="playback('stop');">stop</a>
                                                                    <a href="javascript:void(0)" onclick="playback('stepForward');">&gt&gt</a>
                                                                    <br />
                                                                    <input type="range" id="volume" min="0" max="100" value="80" onchange="changeVolume(this.value)"/>
                                                                </div>
                                                        
                                                                <div id=title>
                                                                    #if $info.title:
                                                                    <h1>$info.title</h1>
                                                                    #end if
                                                                    #if $info.subtitle:
                                                                    <h2>$info.subtitle</h2>
                                                                    #end if
                                                                </div>
                                                        
                                                                <div id=items>
                                                                    <ul>
                                                                    #for $item in $media
                                                                        #if $item.kind == "show"
                                                                        <li><a href="/plex/library/displayMedia?key=$item.key">$item.title</a></li>
                                                                        #elif $item.kind == "season"
                                                                            #if $info.mixedParents:
                                                                        <li><a href="/plex/library/displayMedia?key=$item.key">$item.showTitle S$item.number &#8211 $item.numEpisodes Episodes</a></li>
                                                                            #else
                                                                        <li><a href="/plex/library/displayMedia?key=$item.key">$item.title &ndash; $item.numEpisodes Episodes</a></li>
                                                                            #end if
                                                                        #elif $item.kind == "movie"
                                                                        <li><a href="javascript:void(0)" onclick="playMedia('$item.key')">$item.title ($item.year)</a></li>
                                                                        #elif $item.kind == "episode"
                                                                            #if $info.mixedParents:
                                                                        <li><a href="javascript:void(0)" onclick="playMedia('$item.key')">$item.showTitle S$item.seasonNumber&sdot;E$item.number</a></li>
                                                                            #else
                                                                        <li><a href="javascript:void(0)" onclick="playMedia('$item.key')">Episode $item.number &ndash; $item.title</a></li>
                                                                            #end if
                                                                        #elif $item.kind == "directory"
                                                                        <li><a href="/plex/library/displayMedia?key=$item.key">$item.title</a></li>
                                                                        #end if
                                                                    #end for
                                                                    </ul>
                                                                    #if not $media:
                                                                    Nothing to see here...
                                                                    #end if
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // End Module: Standard Content \\ -->
                                                
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // End Template Body \\ -->
                                </td>
                            </tr>
                        </table>
                        <br />
                    </td>
                </tr>
            </table>
        </center>
    </body>
</html>
